# Ignore environment variable files
.env

# Bytecode and cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and system files
*.log
*.out
*.err

# Ignore virtual environments
venv/
.env/
env/
.venv/

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Ignore VSCode settings (if using VSCode)
.vscode/

# Ignore Jupyter notebook checkpoints (if applicable)
.ipynb_checkpoints/
